@import url("http://fonts.googleapis.com/css?family=Lato:100,400|Open+Sans|Raleway|Josefin+Sans");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
/* line 5, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../components/sass/_base.scss */
html {
  overflow-x: hidden;
}

/* line 12, ../components/sass/_base.scss */
body {
  font-family: Josefin Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 160%;
  background: #080808;
  color: #CCC;
}
/* line 19, ../components/sass/_base.scss */
body::selection {
  background: #19B5FE;
  /* WebKit/Blink Browsers */
}
/* line 22, ../components/sass/_base.scss */
body::-moz-selection {
  background: #19B5FE;
  /* Gecko Browsers */
}

/* line 27, ../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Lato, sans-serif;
  font-weight: normal;
  color: #1C1C1E;
}

/* line 34, ../components/sass/_base.scss */
h1 {
  font-size: 3.0rem;
  color: #fff;
  margin-bottom: .4rem;
  font-weight: 100;
  padding-top: 10px;
  -moz-transition: color 0.6s ease-out;
  -o-transition: color 0.6s ease-out;
  -webkit-transition: color 0.6s ease-out;
  transition: color 0.6s ease-out;
}
@media (min-width: 47em) {
  /* line 34, ../components/sass/_base.scss */
  h1 {
    font-size: 4.0rem;
    margin-bottom: .5rem;
  }
}

/* line 48, ../components/sass/_base.scss */
h2 {
  font-size: 1.5rem;
  line-height: 100%;
  margin: 0 0 10px 0;
  color: #fff;
  -moz-transition: color 0.6s ease-out;
  -o-transition: color 0.6s ease-out;
  -webkit-transition: color 0.6s ease-out;
  transition: color 0.6s ease-out;
}

/* line 56, ../components/sass/_base.scss */
h3 {
  font-size: 1.8rem;
  line-height: 60%;
  color: #BD3613;
}

/* line 62, ../components/sass/_base.scss */
a {
  text-decoration: none;
  color: #CCC;
  -moz-transition: color, 0.3s, ease-out;
  -o-transition: color, 0.3s, ease-out;
  -webkit-transition: color, 0.3s, ease-out;
  transition: color, 0.3s, ease-out;
}
/* line 66, ../components/sass/_base.scss */
a:hover {
  color: #19B5FE;
  cursor: pointer;
}

/* line 72, ../components/sass/_base.scss */
p {
  margin-bottom: 10px;
}

/* line 76, ../components/sass/_base.scss */
.small {
  font-size: 1rem;
  color: #2176C7;
}

/* line 81, ../components/sass/_base.scss */
.clear {
  clear: both;
}

/* line 14, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.2/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../components/sass/_layout.scss */
#navigation {
  z-index: 3;
  position: fixed;
  right: 0;
  width: 100px;
  height: 100%;
  background: none;
  text-shadow: 1px 1px #000;
  font-weight: bold;
}
@media (min-width: 32em) {
  /* line 13, ../components/sass/_layout.scss */
  #navigation {
    width: 100%;
    height: auto;
    top: 0;
  }
}
/* line 28, ../components/sass/_layout.scss */
#navigation #nav-bg {
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  background: #019be3;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
/* line 40, ../components/sass/_layout.scss */
#navigation.scrolled {
  margin-top: 0;
  top: 0;
  height: 100%;
  text-shadow: none;
}
@media (min-width: 32em) {
  /* line 40, ../components/sass/_layout.scss */
  #navigation.scrolled {
    height: 65px;
  }
}
/* line 49, ../components/sass/_layout.scss */
#navigation.scrolled #nav-bg {
  opacity: 1;
}
/* line 53, ../components/sass/_layout.scss */
#navigation.scrolled li span:hover {
  color: #19B5FE;
  background: #fff;
  text-shadow: none;
}
/* line 60, ../components/sass/_layout.scss */
#navigation.scrolled .blue {
  color: #19B5FE;
  background: #fff;
  text-shadow: none;
}
/* line 66, ../components/sass/_layout.scss */
#navigation .layout {
  margin: 50px auto 0;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (min-width: 47em) {
  /* line 66, ../components/sass/_layout.scss */
  #navigation .layout {
    width: 91.52542%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 73, ../components/sass/_layout.scss */
#navigation .layout.loose {
  padding-top: 8px;
  margin: 0px auto 0;
}
/* line 77, ../components/sass/_layout.scss */
#navigation .layout ul.nav {
  float: right;
  -moz-animation: fade-left 1s ease-out;
  -webkit-animation: fade-left 1s ease-out;
  animation: fade-left 1s ease-out;
}
@media (min-width: 32em) {
  /* line 77, ../components/sass/_layout.scss */
  #navigation .layout ul.nav {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 62, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #navigation .layout ul.nav li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 49, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #navigation .layout ul.nav li:first-child {
    padding-left: 0;
  }
  /* line 50, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #navigation .layout ul.nav li:last-child {
    padding-right: 0;
  }
  /* line 52, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #navigation .layout ul.nav li.last {
    padding-right: 0;
  }
}
/* line 85, ../components/sass/_layout.scss */
#navigation .layout ul.nav li span {
  border-radius: 4px;
  color: #fff;
  padding-right: 0.5em;
  cursor: pointer;
}
/* line 92, ../components/sass/_layout.scss */
#navigation .layout ul.nav li span {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: block;
  text-decoration: none;
  padding: 9px 10px;
  color: #fff;
}
/* line 99, ../components/sass/_layout.scss */
#navigation .layout ul.nav li span:hover {
  color: #19B5FE;
}
/* line 101, ../components/sass/_layout.scss */
#navigation .layout ul.nav li span:hover span {
  color: #fff;
}
/* line 107, ../components/sass/_layout.scss */
#navigation .layout ul.nav li .blue {
  color: #19B5FE;
}

/* line 117, ../components/sass/_layout.scss */
#home {
  height: 500px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA0MjAyOSIgc3RvcC1vcGFjaXR5PSIwLjkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDIwMjkiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url('../../images/hero.jpg?1432019061');
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(4, 32, 41, 0.9)), color-stop(100%, rgba(4, 32, 41, 0.5))), url('../../images/hero.jpg?1432019061');
  background: -moz-linear-gradient(top left, rgba(4, 32, 41, 0.9), rgba(4, 32, 41, 0.5)), url('../../images/hero.jpg?1432019061');
  background: -webkit-linear-gradient(top left, rgba(4, 32, 41, 0.9), rgba(4, 32, 41, 0.5)), url('../../images/hero.jpg?1432019061');
  background: linear-gradient(to bottom right, rgba(4, 32, 41, 0.9), rgba(4, 32, 41, 0.5)), url('../../images/hero.jpg?1432019061');
}
/* line 120, ../components/sass/_layout.scss */
#home #spacer {
  width: 6.77966%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  height: 200px;
}
/* line 124, ../components/sass/_layout.scss */
#home #home-content {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  position: absolute;
  top: 100px;
  width: 300px;
  line-height: 100%;
  margin-left: auto;
  color: #fff;
  -moz-transition: top 0.3s ease-out;
  -o-transition: top 0.3s ease-out;
  -webkit-transition: top 0.3s ease-out;
  transition: top 0.3s ease-out;
}
@media (min-width: 32em) {
  /* line 124, ../components/sass/_layout.scss */
  #home #home-content {
    width: auto;
  }
}
@media (min-width: 47em) {
  /* line 124, ../components/sass/_layout.scss */
  #home #home-content {
    top: 200px;
  }
}
/* line 142, ../components/sass/_layout.scss */
#home #home-content #name-plate h1 {
  font-size: 5rem;
  line-height: 100%;
  /* @keyframes name | duration | timing-function | delay | iteration-count | direction | fill-mode | play-state */
  -moz-animation: fade-down 1s ease-out;
  -webkit-animation: fade-down 1s ease-out;
  animation: fade-down 1s ease-out;
}
/* line 148, ../components/sass/_layout.scss */
#home #home-content #name-title {
  font-size: 2rem;
  -moz-animation: fade-right 1s ease-out;
  -webkit-animation: fade-right 1s ease-out;
  animation: fade-right 1s ease-out;
  -moz-transition: color 0.6s ease-out;
  -o-transition: color 0.6s ease-out;
  -webkit-transition: color 0.6s ease-out;
  transition: color 0.6s ease-out;
}
/* line 154, ../components/sass/_layout.scss */
#home:hover h1 {
  color: #4cc5fe;
}

/* line 159, ../components/sass/_layout.scss */
.container {
  padding: 70px 100px 50px 10px;
}
@media (min-width: 32em) {
  /* line 159, ../components/sass/_layout.scss */
  .container {
    padding: 50px 50px 30px 50px;
  }
}
@media (min-width: 32em) and (min-width: 47em) {
  /* line 159, ../components/sass/_layout.scss */
  .container {
    padding: 70px 100px 50px 100px;
  }
}

/* line 169, ../components/sass/_layout.scss */
.container h1 {
  margin-bottom: 50px;
}
/* line 173, ../components/sass/_layout.scss */
.container:hover h1 {
  color: #19B5FE;
}

/* line 179, ../components/sass/_layout.scss */
#about {
  background: #1C1C1E;
}
/* line 181, ../components/sass/_layout.scss */
#about .selfie {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 187, ../components/sass/_layout.scss */
#about .selfie img {
  -moz-animation: fade-right 1s ease-out forwards;
  -webkit-animation: fade-right 1s ease-out forwards;
  animation: fade-right 1s ease-out forwards;
  border-radius: 8px;
  width: 11vw;
  max-height: 180px;
  max-width: 180px;
}
/* line 195, ../components/sass/_layout.scss */
#about .about-text {
  width: 83.05085%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 198, ../components/sass/_layout.scss */
#about p {
  -moz-animation: fade-left 1s ease-out forwards;
  -webkit-animation: fade-left 1s ease-out forwards;
  animation: fade-left 1s ease-out forwards;
}
/* line 202, ../components/sass/_layout.scss */
#about:hover a {
  color: #4cc5fe;
}
/* line 205, ../components/sass/_layout.scss */
#about a:hover {
  text-decoration: underline;
}
/* line 208, ../components/sass/_layout.scss */
#about .bold {
  font-weight: bold;
}

/* line 214, ../components/sass/_layout.scss */
#portfolio {
  height: auto;
  background: #282B2D;
}
/* line 219, ../components/sass/_layout.scss */
#portfolio .content .pane-container {
  padding-top: 20px;
  height: auto;
}
/* line 222, ../components/sass/_layout.scss */
#portfolio .content .pane-container .pane {
  border-radius: 8px;
  cursor: pointer;
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-bottom: 2%;
  width: 48%;
  height: auto;
  max-height: 872px;
}
@media (min-width: 32em) {
  /* line 222, ../components/sass/_layout.scss */
  #portfolio .content .pane-container .pane {
    width: 31%;
  }
}
@media (min-width: 47em) {
  /* line 222, ../components/sass/_layout.scss */
  #portfolio .content .pane-container .pane {
    width: 18%;
  }
}
/* line 243, ../components/sass/_layout.scss */
#portfolio.animate #pane-1 {
  -moz-animation: fade-right 1s ease-out forwards;
  -webkit-animation: fade-right 1s ease-out forwards;
  animation: fade-right 1s ease-out forwards;
}
/* line 246, ../components/sass/_layout.scss */
#portfolio.animate #pane-2 {
  -moz-animation: fade-up 1s ease-out forwards;
  -webkit-animation: fade-up 1s ease-out forwards;
  animation: fade-up 1s ease-out forwards;
}
/* line 249, ../components/sass/_layout.scss */
#portfolio.animate #pane-3 {
  -moz-animation: fade-down 1s ease-out forwards;
  -webkit-animation: fade-down 1s ease-out forwards;
  animation: fade-down 1s ease-out forwards;
}
/* line 252, ../components/sass/_layout.scss */
#portfolio.animate #pane-4 {
  -moz-animation: fade-up 1s ease-out forwards;
  -webkit-animation: fade-up 1s ease-out forwards;
  animation: fade-up 1s ease-out forwards;
}
/* line 255, ../components/sass/_layout.scss */
#portfolio.animate #pane-5 {
  -moz-animation: fade-left 1s ease-out forwards;
  -webkit-animation: fade-left 1s ease-out forwards;
  animation: fade-left 1s ease-out forwards;
}

/* line 262, ../components/sass/_layout.scss */
#skills {
  background: #1C1C1E;
  padding-bottom: 100px;
}
/* line 266, ../components/sass/_layout.scss */
#skills .content .skill-list {
  opacity: 0;
}
/* line 268, ../components/sass/_layout.scss */
#skills .content .skill-list ul > li {
  -moz-transition: color, 0.3s, ease-out 1s;
  -o-transition: color, 0.3s, ease-out 1s;
  -webkit-transition: color, 0.3s, ease-out 1s;
  transition: color 0.3s ease-out 1s;
}
/* line 273, ../components/sass/_layout.scss */
#skills .content #web-skills {
  padding-left: 30px;
}
@media (min-width: 32em) {
  /* line 273, ../components/sass/_layout.scss */
  #skills .content #web-skills {
    padding-left: 0;
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 47em) {
  /* line 273, ../components/sass/_layout.scss */
  #skills .content #web-skills {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 283, ../components/sass/_layout.scss */
#skills .content #programming-skills {
  margin-top: 30px;
  padding-left: 30px;
}
@media (min-width: 32em) {
  /* line 283, ../components/sass/_layout.scss */
  #skills .content #programming-skills {
    margin-top: 0;
    padding-left: 0;
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 47em) {
  /* line 283, ../components/sass/_layout.scss */
  #skills .content #programming-skills {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 295, ../components/sass/_layout.scss */
#skills .content #other-skills {
  margin-top: 30px;
  padding-left: 30px;
}
@media (min-width: 32em) {
  /* line 295, ../components/sass/_layout.scss */
  #skills .content #other-skills {
    padding-left: 0;
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 47em) {
  /* line 295, ../components/sass/_layout.scss */
  #skills .content #other-skills {
    margin-top: 0;
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}
/* line 312, ../components/sass/_layout.scss */
#skills.animate .skill-list:hover h2 {
  color: #19B5FE;
}
/* line 315, ../components/sass/_layout.scss */
#skills.animate .skill-list:hover ul > li {
  color: #fff;
}
/* line 320, ../components/sass/_layout.scss */
#skills.animate #web-skills {
  -moz-animation: fade-right 1s ease-out forwards;
  -webkit-animation: fade-right 1s ease-out forwards;
  animation: fade-right 1s ease-out forwards;
}
/* line 323, ../components/sass/_layout.scss */
#skills.animate #programming-skills {
  -moz-animation: fade-down 1s ease-out forwards;
  -webkit-animation: fade-down 1s ease-out forwards;
  animation: fade-down 1s ease-out forwards;
}
/* line 326, ../components/sass/_layout.scss */
#skills.animate #other-skills {
  -moz-animation: fade-left 1s ease-out forwards;
  -webkit-animation: fade-left 1s ease-out forwards;
  animation: fade-left 1s ease-out forwards;
}

/* line 331, ../components/sass/_layout.scss */
#experience {
  background: #282B2D;
  height: 1300px;
  padding-bottom: 100px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (min-width: 32em) {
  /* line 331, ../components/sass/_layout.scss */
  #experience {
    height: 1800px;
  }
}
/* line 339, ../components/sass/_layout.scss */
#experience .line {
  position: absolute;
  left: 40%;
  width: 2px;
  height: 900px;
  background-color: #CCC;
}
@media (min-width: 32em) {
  /* line 339, ../components/sass/_layout.scss */
  #experience .line {
    left: 50%;
    height: 1400px;
  }
}
/* line 350, ../components/sass/_layout.scss */
#experience .line .point {
  border: solid #fff 4px;
  display: block;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: 135px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  color: #19B5FE;
  font-size: 1.6rem;
  padding-top: 20px;
}
@media (min-width: 32em) {
  /* line 350, ../components/sass/_layout.scss */
  #experience .line .point {
    width: 150px;
    height: 150px;
    margin-left: -75px;
    margin-top: 200px;
    font-size: 2.4rem;
    padding-top: 55px;
  }
}
/* line 373, ../components/sass/_layout.scss */
#experience .line .point.first {
  margin-top: 0px;
  background: #fff url('../../images/rutgers-logo.jpg?1433859189') no-repeat center;
  background-size: 90%;
}
/* line 378, ../components/sass/_layout.scss */
#experience .line .point:nth-child(2) {
  background: #0269d4 url('../../images/columbia-logo.jpg?1433860793') no-repeat center;
  background-size: 90%;
}
/* line 382, ../components/sass/_layout.scss */
#experience .line .point:nth-child(3) {
  background: #fff url('../../images/redshift-logo.png?1433859398') no-repeat center;
  background-size: 100%;
}
/* line 386, ../components/sass/_layout.scss */
#experience .line .point:nth-child(4) {
  background: #fff url('../../images/fdu-logo.jpg?1433859217') no-repeat center;
  background-size: 90%;
}
/* line 393, ../components/sass/_layout.scss */
#experience .time-box {
  opacity: 0;
  height: 155px;
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (min-width: 32em) {
  /* line 393, ../components/sass/_layout.scss */
  #experience .time-box {
    height: 150px;
  }
}
/* line 402, ../components/sass/_layout.scss */
#experience .time-box p {
  visibility: hidden;
}
/* line 405, ../components/sass/_layout.scss */
#experience .time-box h2 {
  font-size: 1.2rem;
}
@media (min-width: 32em) {
  /* line 393, ../components/sass/_layout.scss */
  #experience .time-box {
    font-size: 1rem;
  }
  /* line 412, ../components/sass/_layout.scss */
  #experience .time-box p {
    visibility: visible;
  }
  /* line 415, ../components/sass/_layout.scss */
  #experience .time-box h2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 47em) {
  /* line 393, ../components/sass/_layout.scss */
  #experience .time-box {
    font-size: 1.2rem;
  }
}
/* line 424, ../components/sass/_layout.scss */
#experience .time-box.odd {
  margin-top: 0px;
  width: 32.20339%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 428, ../components/sass/_layout.scss */
#experience .time-box.animate {
  -moz-animation: fade-down 1s ease-out forwards;
  -webkit-animation: fade-down 1s ease-out forwards;
  animation: fade-down 1s ease-out forwards;
}
/* line 433, ../components/sass/_layout.scss */
#experience .time-box:hover h2 {
  color: #19B5FE;
}
/* line 438, ../components/sass/_layout.scss */
#experience .time-spacer {
  height: 220px;
  width: 66.10169%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
@media (min-width: 32em) {
  /* line 438, ../components/sass/_layout.scss */
  #experience .time-spacer {
    height: 350px;
  }
}
/* line 446, ../components/sass/_layout.scss */
#experience .time-spacer.odd {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}

/* line 452, ../components/sass/_layout.scss */
#contact {
  background: #1C1C1E;
  padding-bottom: 60px;
}
/* line 455, ../components/sass/_layout.scss */
#contact p {
  opacity: 0;
}
/* line 460, ../components/sass/_layout.scss */
#contact.animate p {
  -moz-animation: fade-right 1s ease-out forwards;
  -webkit-animation: fade-right 1s ease-out forwards;
  animation: fade-right 1s ease-out forwards;
}

/* line 467, ../components/sass/_layout.scss */
footer {
  color: #737373;
  background: #1C1C1E;
  font-size: 0.6rem;
  padding-left: 10px;
  padding-bottom: 5px;
}
@media (min-width: 32em) {
  /* line 467, ../components/sass/_layout.scss */
  footer {
    font-size: 0.8rem;
  }
}

/* line 478, ../components/sass/_layout.scss */
.modal {
  z-index: 2;
  position: fixed;
  width: 140%;
  left: -80px;
  top: 20%;
  /* Embiggen */
  transform: scale(1.5);
  /* prefix me */
  /* Hidden */
  opacity: 0;
  pointer-events: none;
}
@media (min-width: 32em) {
  /* line 478, ../components/sass/_layout.scss */
  .modal {
    width: 120%;
  }
}
@media (min-width: 47em) {
  /* line 478, ../components/sass/_layout.scss */
  .modal {
    width: 100%;
    top: 40%;
    left: -4vw;
  }
}
/* line 501, ../components/sass/_layout.scss */
.modal .modal-content {
  cursor: default;
  text-align: center;
  width: 60%;
  margin: 0px auto;
}
/* line 506, ../components/sass/_layout.scss */
.modal .modal-content img {
  width: 100%;
  float: left;
  -moz-transform: translate(0px, -4vw);
  -ms-transform: translate(0px, -4vw);
  -webkit-transform: translate(0px, -4vw);
  transform: translate(0px, -4vw);
  -moz-animation: clip-back 0.3s ease-out forwards;
  -webkit-animation: clip-back 0.3s ease-out forwards;
  animation: clip-back 0.3s ease-out forwards;
}
@media (min-width: 47em) {
  /* line 506, ../components/sass/_layout.scss */
  .modal .modal-content img {
    width: 60%;
  }
}
/* line 517, ../components/sass/_layout.scss */
.modal .modal-content .close-button {
  position: fixed;
  height: 100px;
  width: 100px;
  top: -50px;
  right: 0;
  cursor: pointer;
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
/* line 525, ../components/sass/_layout.scss */
.modal .modal-content .close-button:before {
  content: "";
  position: absolute;
  height: 100px;
  width: 2px;
  background: #fff;
}
/* line 533, ../components/sass/_layout.scss */
.modal .modal-content .close-button:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  top: 49px;
  left: 0px;
  background: #fff;
}
/* line 545, ../components/sass/_layout.scss */
.modal .modal-content .close-button:hover:before, .modal .modal-content .close-button:hover:after {
  background: #CCC;
}
/* line 550, ../components/sass/_layout.scss */
.modal .modal-content .modal-text {
  width: 100%;
  float: right;
}
@media (min-width: 47em) {
  /* line 550, ../components/sass/_layout.scss */
  .modal .modal-content .modal-text {
    width: 35%;
  }
}
/* line 557, ../components/sass/_layout.scss */
.modal .modal-content .modal-text span {
  display: block;
  color: #fff;
}
/* line 561, ../components/sass/_layout.scss */
.modal .modal-content .modal-text .modal-date {
  font-family: Lato, sans-serif;
  font-weight: 100;
  color: #19B5FE;
  margin-bottom: 40px;
  font-size: 100px;
  padding-top: 30px;
  border-top: solid 1px #CCC;
}
@media (min-width: 47em) {
  /* line 561, ../components/sass/_layout.scss */
  .modal .modal-content .modal-text .modal-date {
    font-size: 9vw;
    margin-bottom: 4vw;
    text-align: right;
    border-top-width: 0;
    padding-top: 0;
  }
}
/* line 580, ../components/sass/_layout.scss */
.modal .modal-content .modal-text .modal-name {
  border-top: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
@media (min-width: 47em) {
  /* line 580, ../components/sass/_layout.scss */
  .modal .modal-content .modal-text .modal-name {
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 2vw;
  }
}
/* line 592, ../components/sass/_layout.scss */
.modal .modal-content .modal-text .modal-visit {
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px #fff;
  font-size: 20px;
  cursor: pointer;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
/* line 603, ../components/sass/_layout.scss */
.modal .modal-content .modal-text .modal-visit:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* line 610, ../components/sass/_layout.scss */
.modal.visible img {
  -webkit-clip-path: polygon(0 0, 95% 11%, 100% 91%, 16% 100%);
  clip-path: polygon(0 0, 95% 11%, 100% 91%, 16% 100%);
}
/* line 613, ../components/sass/_layout.scss */
.modal.visible img:hover {
  -moz-animation: clip-go 0.3s ease-out forwards;
  -webkit-animation: clip-go 0.3s ease-out forwards;
  animation: clip-go 0.3s ease-out forwards;
}

/* line 620, ../components/sass/_layout.scss */
.modalOpen #page-wrap {
  /* Blur and de-color */
  -webkit-filter: blur(2px) grayscale(50%) brightness(20%);
  filter: blur(2px) grayscale(50%) brightness(20%);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
/* line 628, ../components/sass/_layout.scss */
.modalOpen .modal.visible {
  /* Regular size and visible */
  transform: scale(1);
  /* prefix me */
  opacity: 1;
  /* Clickable */
  pointer-events: auto;
}
/* line 636, ../components/sass/_layout.scss */
.modalOpen .pane {
  cursor: default !important;
}

/* line 640, ../components/sass/_layout.scss */
#page-wrap, .modal {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 643, ../components/sass/_layout.scss */
#page-wrap .modal-img, .modal .modal-img {
  width: 20%;
}

@-moz-keyframes color {
  from {
    background: red;
  }
  to {
    background: yellow;
  }
}
@-webkit-keyframes color {
  from {
    background: red;
  }
  to {
    background: yellow;
  }
}
@keyframes color {
  from {
    background: red;
  }
  to {
    background: yellow;
  }
}
@-moz-keyframes fade-left {
  from {
    -moz-transform: translate(5em, 0);
    transform: translate(5em, 0);
    opacity: 0;
  }
  to {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-left {
  from {
    -webkit-transform: translate(5em, 0);
    transform: translate(5em, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fade-left {
  from {
    -moz-transform: translate(5em, 0);
    -ms-transform: translate(5em, 0);
    -webkit-transform: translate(5em, 0);
    transform: translate(5em, 0);
    opacity: 0;
  }
  to {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fade-right {
  from {
    -moz-transform: translate(-5em, 0);
    transform: translate(-5em, 0);
    opacity: 0;
  }
  to {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-right {
  from {
    -webkit-transform: translate(-5em, 0);
    transform: translate(-5em, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fade-right {
  from {
    -moz-transform: translate(-5em, 0);
    -ms-transform: translate(-5em, 0);
    -webkit-transform: translate(-5em, 0);
    transform: translate(-5em, 0);
    opacity: 0;
  }
  to {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fade-up {
  from {
    -moz-transform: translate(0, 1em);
    transform: translate(0, 1em);
    opacity: 0;
  }
  to {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-up {
  from {
    -webkit-transform: translate(0, 1em);
    transform: translate(0, 1em);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fade-up {
  from {
    -moz-transform: translate(0, 1em);
    -ms-transform: translate(0, 1em);
    -webkit-transform: translate(0, 1em);
    transform: translate(0, 1em);
    opacity: 0;
  }
  to {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fade-down {
  from {
    -moz-transform: translate(0, -1em);
    transform: translate(0, -1em);
    opacity: 0;
  }
  to {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-down {
  from {
    -webkit-transform: translate(0, -1em);
    transform: translate(0, -1em);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fade-down {
  from {
    -moz-transform: translate(0, -1em);
    -ms-transform: translate(0, -1em);
    -webkit-transform: translate(0, -1em);
    transform: translate(0, -1em);
    opacity: 0;
  }
  to {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes glow-white {
  from {
    color: inherit;
  }
  to {
    color: #fff;
  }
}
@-webkit-keyframes glow-white {
  from {
    color: inherit;
  }
  to {
    color: #fff;
  }
}
@keyframes glow-white {
  from {
    color: inherit;
  }
  to {
    color: #fff;
  }
}
@-moz-keyframes clip-go {
  from {
    -webkit-clip-path: polygon(0 0, 95% 11%, 100% 91%, 16% 100%);
    clip-path: polygon(0 0, 95% 11%, 100% 91%, 16% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes clip-go {
  from {
    -webkit-clip-path: polygon(0 0, 95% 11%, 100% 91%, 16% 100%);
    clip-path: polygon(0 0, 95% 11%, 100% 91%, 16% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
}
@keyframes clip-go {
  from {
    -webkit-clip-path: polygon(0 0, 95% 11%, 100% 91%, 16% 100%);
    clip-path: polygon(0 0, 95% 11%, 100% 91%, 16% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
}
@-moz-keyframes clip-back {
  to {
    -webkit-clip-path: polygon(0 0, 95% 11%, 100% 91%, 16% 100%);
    clip-path: polygon(0 0, 95% 11%, 100% 91%, 16% 100%);
  }
  from {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes clip-back {
  to {
    -webkit-clip-path: polygon(0 0, 95% 11%, 100% 91%, 16% 100%);
    clip-path: polygon(0 0, 95% 11%, 100% 91%, 16% 100%);
  }
  from {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
}
@keyframes clip-back {
  to {
    -webkit-clip-path: polygon(0 0, 95% 11%, 100% 91%, 16% 100%);
    clip-path: polygon(0 0, 95% 11%, 100% 91%, 16% 100%);
  }
  from {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
}
